.card-header > div > span {
  font-size: 1rem !important;
  color: gray;
}

.card-action-style {
  align-self: center;
}

.card-layout {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.card-content-layout {
  min-width:min(350px,100%);
}

.box-layout {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.app-bar {
  background-color: rgb(28,60,140) !important;
}